body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/diet.png');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(4px);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 500px;
    height: 600px;
    margin: 50px auto;
    margin-top: 0;
    justify-content: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

.form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}

button {
    width: calc(100% - 22px);
    padding: 20px;
    background-color: #0382ea;
    font-size: 17px;
    font-weight: 500;
    color: #010101;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #333333;
}
